<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sharehitv2">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ProfilPage"
            android:label="@string/title_activity_profil_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Test"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ListFollowPage" />
        <activity android:name=".ListLikePage" />
        <activity android:name=".ProfilPageAncienne">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PagePrincipale" />
        </activity>
        <activity android:name=".CommentPage" />
        <activity android:name=".Authentification.PasswordForgetPage" />
        <activity android:name=".Authentification.SignUpPage" />
        <activity android:name=".Authentification.LoginPage" />
        <activity
            android:name=".PagePrincipale"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ApiManager"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Utilities.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>